.lessons {

    &__modules {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(185px, 185px));
        justify-content: center;
        column-gap: 20px;
        row-gap: 10px;

        @media (max-width:430PX) {
            grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
        }

        li {
            position: relative;
            cursor: pointer;
            user-select: none;
            position: relative;
            padding: 6px 27px;
            border-radius: 55px;
            background: var(--bgColor);
            border: 1px solid rgb(188, 188, 188);
            color: var(--mainColor);
            font-size: 20px;
            transition: .2s;
            text-align: center;

            &.active {
                background: var(--mainColor);
                color: var(--bgColor);
            }
        }
    }
}