$CormorantGaramond: ('Regular', 400);

@each $name,$weight in $CormorantGaramond {
    @font-face {
        font-family: 'CormorantGaramond';
        src: url('../assets/fonts/CormorantGaramond-#{$name}.ttf');
        font-weight: $weight;
    }
}
$Aleo: ('Regular', 400);

@each $name,$weight in $Aleo {
    @font-face {
        font-family: 'Aleo';
        src: url('../assets/fonts/Aleo-#{$name}.ttf');
        font-weight: $weight;
    }
}