@import url(fonts.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CormorantGaramond';
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #f2f2f7;
}